<p>
  You are receiving this email because you (or someone else) requested to
  subscribe to
  {{websiteName}}
  newsletter. Please type or paste the following token in the specified
  placeholder in our subscribe form.
</p>
<p>
  Your token to subscribe is:
  {{token}}
</p>
<p>
  If you received this in error, you can safely ignore it.
</p>
<p>
  Thanks,
  <br />
  {{websiteName}}
  support team,
  <br />
  {{websiteUrl}}
</p>