<p>
  You receive this email because you (or someone else) requested to unsubscribe
  from
  {{websiteName}}
  newsletter. Please type or paste the following token in the specified
  placeholder in our unsubscribe form.
</p>
<p>
  Your token to unsubscribe is:
  {{token}}
</p>
<p>
  If you received this in error, you can safely ignore it.
</p>
<p>
  Thanks,
  <br />
  {{websiteName}}
  support team,
  <br />
  {{websiteUrl}}
</p>