<p>
  You receive this email to know that your
  {{websiteName}}
  account's password has been changed.
</p>
<p>
  If you received this in error or there is a security problem, please contact
  our support team by reply to this email.
</p>
<p>
  Thanks,
  <br />
  {{websiteName}}
  support team,
  <br />
  {{websiteUrl}}
</p>