<p>
  You are receiving this email to verify your email address. Please type or
  paste the following token in the specified placeholder in our email
  verification form.
</p>
<p>
  Your token to verify your email address is:
  {{token}}
</p>
<p>
  If you received this in error, you can safely ignore it.
</p>
<p>
  Thanks,
  <br />
  {{websiteName}}
  support team,
  <br />
  {{websiteUrl}}
</p>