<p>
  You receive this email because you (or someone else) requested to reset your
  {{websiteName}}
  account password. Please type or paste the following token in the specified
  placeholder in our reset password form.
</p>
<p>
  Your token to reset your password is:
  {{token}}
</p>
<p>
  If you received this in error, you can safely ignore it.
</p>
<p>
  Thanks,
  <br />
  {{websiteName}}
  support team,
  <br />
  {{websiteUrl}}
</p>