<p>Hello,</p>
<p>Thanks for contacting us. This email is to let you know we've received your
  email, and we will reply to you directly as soon as possible.</p>
<p>
  Sincerely,
  <br />
  {{websiteName}}
  support team,
  <br />
  {{websiteUrl}}
</p>